$color-1: #151515;
$color-2: #363636;
$color-3: #fff;
$color-4: #e57373;
$color-5: #4DD0E1;
$color-6: #FFB74D;
$color-7: #AED581;
$color-8: #cfd8dc;
$color-9: #3D5AFE;
$font-size-base: 14px;
$font: 'Heebo',
sans-serif;
$medium: 500;
$ls: .0125em;