@import 'helpers/_variables';
@import 'helpers/_mixins';
@import 'base/_reset';
@import 'components/_App';
@import 'components/_TodoAdd';
@import 'components/_TodoList';
@import 'components/_TodoItem';
@import 'components/_buttons';
body {
    height: 100vh;
    font-size: $font-size-base;
    letter-spacing: $ls;
    color: $color-2;
    overflow: hidden;
}

h2,
h3 {
    width: 80%;
    font-weight: $medium;
    padding: 2em 0 .5em;
    border-bottom: 1px solid #eee;
    text-transform: capitalize;
    color: $color-1;
}